.backImg {
    /* text-align: center; */
    background: #942c2c;
    color: white;
    background: url('../photos/lake_weary.png') center/cover;
    position: relative;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: center;
} 

.header {
    padding-top: 18%;
    padding-left: 20%;
    
}

.center-area {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
}

@media screen and (max-width: 512px) {

    .center-area {
        padding-bottom: 5%;
    }
}

