.backImg {
    /* text-align: center; */
    background: #942c2c;
    color: white;
    background: url('../photos/lake_weary.png') center/cover;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
} 

.header {
    padding-top: 18%;
    padding-left: 20%;
    
}

.center-area {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20%;
}

/* for iphone X/R
@media screen and (max-width: 375px) {
    @media screen and (min-width: 375px) {

        .center-area {
            padding-bottom: 60%;
        }

        .header {
            padding-top: 33%;
            padding-left: 20%;
            
        }

        .backImg {
            background-size: 200% 200%;
        }

    }   
} */

/* Iphone 6/7/8 */
@media screen and (max-width: 512px) {

    .center-area {
        padding-bottom: 53%;
    }

    .header {
        padding-top: 30%;
        padding-left: 20%;
        
    }

    .backImg {
        background-size: 200% 200%;
    }
}

/* Pixel 2 Large */
@media screen and (max-width: 411px) {

    .center-area {
        padding-bottom: 75%;
    }

    .header {
        padding-top: 30%;
        padding-left: 20%;
        
    }

    .backImg {
        background-size: 200% 200%;
    }
}

/* For ipad mini
@media screen and (max-width: 768px) {
    @media screen and (min-width: 768px) {
        
        .center-area {
            padding-bottom: 70%;
        }
    
        .header {
            padding-top: 20%;
            padding-left: 20%
        }
    
        .backImg {
            background-size: 200% 200%;
        }
    }
    
}  */

/* @media screen and (max-width: 1024px) {

    @media screen and (min-width: 1024px) {
        .center-area {
            padding-bottom: 84%;
        }
    
        .header {
            padding-top: 18%;
            padding-left: 20%;
            
        }
    
        .backImg {
            background-size: 200% 200%;
        }
    }
} */

